$primary-color: blue;

html,
body,
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #031728;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

main {
  border: 5px solid lighten($primary-color, 20%);
  width: 300px;
  box-shadow: 5px 5px 5px #111;
  background-color: white;
}

header {
  font-size: 2em;
  padding: 0.25em 0;
  text-align: center;
  background-color: lighten($primary-color, 20);
}

table {
  width: 100%;
  padding: 3em;
}

tr {
  width: 100%;
}

th {
  text-align: left;
}

td {
  text-align: right;
}

.loading {
  text-align: center;
  padding: 2em 0;
}
